" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" ================ OPTIONS ================
let mapleader=" "

set relativenumber number "-> Set hybrid relative line numbers
set clipboard+=unnamedplus "-> Set (copy to/paste from) clipboard
set clipboard+=ideaput
set scrolloff=5
set incsearch
set showmode
set termguicolors
colorscheme gruvbox

" ============== MOTION REMAPS ==============
" Disable arrow keys
inoremap <Up> <NOP>
inoremap <Down> <NOP>
inoremap <Left> <NOP>
inoremap <Right> <NOP>
noremap <Up> <NOP>
noremap <Down> <NOP>
noremap <Left> <NOP>
noremap <Right> <NOP>
" Keep cursor centered when <C-d> or <C-u>
noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz
" Keep cursor centered while searching
noremap n nzzzv
noremap N Nzzzv
" Better window navigation
map <C-l> <C-W>l
map <C-h> <C-W>h
map <C-j> <C-W>j
map <C-k> <C-W>k
" Better redo
map U <C-R>
" Stay in indent mode
noremap < <gv
noremap > >gv
" Create a new line below without entering insert mode
nnoremap <Leader>o o<Esc>
" Create a new line above without entering insert mode
nnoremap <Leader>O O<Esc>
" ~/.ideavimrc
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
" ============== ACTION REMAPS ==============
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gt <Action>(GotoTypeDeclaration)
map gu <Action>(GotoSuperMethod)
map <C-O> <Action>(Back)
map <C-I> <Action>(Forward)

map K <Action>(ShowHoverInfo)

" Search
map <leader>; <Action>(GotoAction)
map <leader>sf <Action>(GotoFile)
map <leader>s. <Action>(RecentFiles)
map <leader>sp <Action>(ManageRecentProjects)
map <leader>sg <Action>(FindInPath)

map <leader>sv <Action>(SplitVerticall)
map <leader>sh <Action>(SplitHorizontally)

map <leader>wh <Action>(HideAllWindows)
map <leader>wc <Action>(CloseContent)
"map <leader>ft <Action>(ActivateProjectToolWindow) " Not working

map <leader>ri <Action>(OptimizeImports)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
map <leader>rs <Action>(SurroundWith)

map <leader>tn <Action>(GotoTest)
map <leader>tr <Action>(RunClass)
map <leader>tt <Action>(Rerun)
map <leader>tf <Action>(RerunFailedTests)

map <leader>dp <Action>(ToggleLineBreakpoint)
map <leader>dr <Action>(DebugClass)
